*{
    padding:0px;
    margin:0px;
}
body{
    background-image: url("back.png");
    background-size: cover;
    background-repeat: no-repeat;
    display: grid;
    grid-template-rows: 1fr;
    grid-template-columns:200px 650px 200px;
    column-gap: 100px;
    grid-template-areas: 
    "#left .chessboard #right"
    ;
}
.box{
    background-image: url("chess.svg");
    background-repeat: no-repeat;
    width:600px;
    height: 600px;
    display:grid;
    grid-template-rows: repeat(8,75px);
    grid-template-columns: repeat(8,75px);
}
.inside{
    font-size:65px;
    text-align:center;
    font-family: a;

    
}
.chessboard {
    width: 650px;
    height: 650px;
    margin: auto;
    border: 25px solid #333;
    box-shadow: black 8px 8px 4px;
}

.cross{
    margin:10px;
    height: 600px;
    width:150px;
    border:solid black 5px;
    border-radius: 20px;
    display:grid;
    grid-template-rows:repeat(8,75px);
    grid-template-columns:repeat(2,75px);
    background-image: url(box.jpg);
    background-repeat: no-repeat;
    box-shadow: 8px 8px 5px black;
}
@media(max-width:1000px)
{
    .cross{
        transform: rotate(90deg);
    }
    body{
        display: grid;
    grid-template-rows:200px 650px 200px ;
    grid-template-columns:1fr;
    
    grid-template-areas: 
    "#left"
    ".chessboard"
    "#right"
    ;
    }
    
    
}
